@import url("https://fonts.googleapis.com/css2?family=Lumanosimo&display=swap");

:root {
  --main-bg-color: #1c1e2c;
  --white: white;
}

iframe[style="position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; border: none; z-index: 2147483647;"] {
  pointer-events: none;
}
body {
  font-family: "Lumanosimo", cursive !important;
}

.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

h2 {
  margin-top: 20px;
}

textarea {
  width: 100%;
  resize: vertical;
  outline: none;
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.buttonWrapper button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.messageWrapper {
  margin-top: 20px;
}

.userMessage {
  text-align: right;
  background-color: #eaf6ff;
  padding: 10px;
  border-radius: 5px;
}

.assistantMessage {
  text-align: left;
  background-color: #f7f7f7;
  padding: 10px;
  border-radius: 5px;
}

.dropzone {
  border: 2px dashed #007bff;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  transition: border-color 0.3s ease-in-out;
}

.dropzone.active {
  border-color: #39c5ff;
}

.dropzone p {
  margin: 0;
  font-size: 16px;
}

.dropzone p:not(:last-child) {
  margin-bottom: 10px;
}
